<section>
  <h1 class="text-center text-main">Forgot Password</h1>

  @if (step ==1) {
  <form
    [formGroup]="verifyEmail"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="verifyEmailSubmit()"
  >
    <div class="my-2">
      <label for="resetEmail">Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        id="resetEmail"
      />
    </div>
    <button class="btn-main" [disabled]="verifyEmail.invalid">
      verify Email
    </button>
  </form>
  }@else if(step ==2){
  <form
    [formGroup]="verifyCode"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="verifyCodeSubmit()"
  >
    <div class="my-2">
      <label for="resetCode">Code</label>
      <input
        formControlName="resetCode"
        class="form-control"
        type="text"
        id="resetCode"
      />
    </div>
    <button class="btn-main" [disabled]="verifyCode.invalid">
      verify Code
    </button>
  </form>
  } @else if (step ==3) {
  <form
    [formGroup]="resetPassword"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="resetPasswordSubmit()"
  >
    <div class="my-2">
      <label for="email">Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        id="email"
        readonly
      />
    </div>

    <div class="my-2">
      <label for="newPassword">New Password</label>
      <input
        formControlName="newPassword"
        class="form-control"
        type="text"
        id="newPassword"
      />
    </div>

    <button class="btn-main" [disabled]="resetPassword.invalid">
      verify Email
    </button>
  </form>
  }
</section>
