<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <h1 class="h2 text-main">Register Now</h1>
  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="my-2">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{
          'is-valid':
            !registerForm.get('name')?.errors &&
            (registerForm.get('name')?.touched ||
              registerForm.get('name')?.dirty),
          'is-invalid':
            registerForm.get('name')?.errors &&
            (registerForm.get('name')?.touched ||
              registerForm.get('name')?.dirty)
        }"
      />
      @if (registerForm.get('name')?.errors &&
      (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)) {

      <div class="alert alert-danger w-50">
        @if (registerForm.get('name')?.getError('required')) {
        <p class="m-0">Name is Required</p>
        } @else if (registerForm.get('name')?.getError('minlength')) {
        <p class="m-0">Name should be equal or more than 3 chareters</p>
        } @else if (registerForm.get('name')?.getError('maxlength')) {
        <p class="m-0">Name should be equal or less than 20 chareters</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="email">email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        [ngClass]="{
          'is-vaid':
            !registerForm.get('email')?.errors &&
            (registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty),
          'is-invalid':
            registerForm.get('email')?.errors &&
            (registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty)
        }"
      />
      @if (registerForm.get('email')?.errors &&
      (registerForm.get('email')?.touched || registerForm.get('email')?.dirty))
      {
      <div class="alert alert-danger w-50">
        @if (registerForm.get('email')?.getError('required')) {
        <p class="m-0">Email is required</p>
        }@else if (registerForm.get('email')?.getError('email')) {
        <p class="m-0">Enter a valid Email</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="phone">phone</label>
      <input
        id="phone"
        type="tel"
        class="form-control"
        formControlName="phone"
        [ngClass]="{
          'is-valid':
            registerForm.get('phone')?.errors &&
            (registerForm.get('phone')?.touched ||
              registerForm.get('email')?.dirty),
          'is-invalid':
            registerForm.get('phone')?.errors &&
            (registerForm.get('phone')?.touched ||
              registerForm.get('email')?.dirty)
        }"
      />
      @if (registerForm.get('phone')?.errors &&
      (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty))
      {
      <div class="alert alert-danger w-50">
        @if (registerForm.get('phone')?.getError('required')) {
        <p class="m-0">phone is required</p>
        }@else if (registerForm.get('phone')?.getError('pattern')) {
        <p class="m-0">Enter a valid phone</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="passowrd">passowrd</label>
      <input
        id="passowrd"
        type="password"
        class="form-control"
        formControlName="password"
        [ngClass]="{
          'is-valid':
            !registerForm.get('password')?.errors &&
            (registerForm.get('password')?.touched ||
              registerForm.get('password')?.dirty),
          'is-invalid':
            registerForm.get('password')?.errors &&
            (registerForm.get('password')?.touched ||
              registerForm.get('password')?.dirty)
        }"
      />
      @if (registerForm.get('password')?.errors &&
      (registerForm.get('password')?.touched ||
      registerForm.get('password')?.dirty)) {
      <div class="alert alert-danger w-50">
        @if (registerForm.get('password')?.getError('required')) {
        <p class="m-0">password is required</p>
        }@else if (registerForm.get('password')?.getError('pattern')) {
        <p class="m-0">Enter a valid password</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="rePassword">rePassword</label>
      <input
        id="rePassword"
        type="password"
        class="form-control"
        formControlName="rePassword"
      />

      @if (registerForm.getError('mismatch') &&
      (registerForm.get('rePassword')?.touched ||
      registerForm.get('rePassword')?.dirty)) {
      <div class="alert alert-danger w-50">
        <p class="m-0">rePassword does not match password</p>
      </div>
      }
    </div>

    <button
      [disabled]="registerForm.invalid || isLoading"
      type="submit"
      class="btn-main ms-auto d-block"
    >
      Register @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError) {
    <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>
    }
  </form>
</section>
