<section class="bg-main-light rounded-4 shadow p-2 my-2 w-75 mx-auto">
  <h1 class="text-center">shipping address</h1>
  <form [formGroup]="orders" (ngSubmit)="orderSubmit()">
    <div class="my-2">
      <label for="details">Details</label>
      <textarea
        formControlName="details"
        id="details"
        class="form-control"
      ></textarea>
    </div>

    <div class="my-2">
      <label for="phone">Phone</label>
      <input
        formControlName="phone"
        class="form-control"
        id="phone"
        type="tel"
      />
    </div>

    <div class="my-2">
      <label for="city">City</label>
      <input
        formControlName="city"
        class="form-control"
        id="city"
        type="text"
      />
    </div>

    <button class="btn-main" type="submit">Check Out</button>
  </form>
</section>
